// amended base reveal.js theme

/*********************************************
 * GLOBAL STYLES
 *********************************************/

html {
  font-size: $base-font-size;
}

body {
  color: $body-color;
  background-color: $body-background-color;
}

.reveal {
  font-size: $slide-font-size;
}

::selection {
  color: $selection-color;
  background: $selection-background-color;
  text-shadow: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
  line-height: 1.3;
  font-weight: inherit;
}


/*********************************************
 * OTHER
 *********************************************/


/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  border-left: 8px solid #eee;
  font-style: italic;
}

.reveal blockquote p {
  margin-bottom: $space-1;
}

.reveal blockquote footer {
  padding: 0;
  color: #7a7a7a;
  font-size: .6em;
  font-style: normal;
  text-align: left;
}

.reveal pre,
.reveal code {
  font-family: "Source Code Pro", Consolas, monospace;
}

.reveal pre {
  display: block;
  position: relative;
  margin-bottom: $space-2;
  text-align: left;
  font-size: 0.5em;
  line-height: 1.11;
  word-wrap: break-word;
  border-radius: 3px;
}

.reveal pre code {
  display: block;
  padding: 1rem;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal pre,
.hljs {
  background-color: #fafafa;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}


/*********************************************
 * LINKS
 *********************************************/

a {
  color: $link-color;
  text-decoration: none;
}

.reveal .roll span:after {
  color: #fff;
  background: darken($link-color, 15%);
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: $link-color;
  -webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
